<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="mainWrapper">
    <div class="wrapper">
        <div class="insideDiv">
            <form id="bookCreateForm">
                <input type="text" name="book_title" placeholder="*Book Name" required>
                <button>Create Book</button>
              <br>
              <button id="getAllBooks">Get All Books</button><br>
              <button id="deleteAllBooks">Delete All Books</button>
            </form>
        </div>
        <div class="insideDiv">
            Get Book By id
            <form id="bookGetForm">
                <input type="text" name="book_id" placeholder="*Book Id" required>
                <button >Get Book</button>
            </form>
                      Delete Book By id
            <form id="bookDeleteForm">
                <input type="text" name="book_id" placeholder="*Book Id" required>
                <button >Delete Book</button>
            </form>
                                Add Comment to Book By id
            <form id="bookUpdateForm">
                <input type="text" name="book_id" placeholder="*Book Id" required>
              <input type="text" name="book_comment" placeholder="*Book Comment" required>
                <button >Add Comment Book</button>
            </form>

        </div>
        <div class="insideDiv resultDiv">
        </div>
    </div>

</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="/client.js"></script>

</body>

</html>