<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="mainWrapper">
    <div class="wrapper">
        <div class="insideDiv">
            <form id="stockCreateForm">
                <input type="text" name="stock" placeholder="*Stock Name" required>
                <label><input id="like" type="checkbox" name="like"/>Like ?</label>    

                <button>Get Prices</button>
            </form>
            <form id="stockCompareForm">
                <input type="text" name="stock" placeholder="*Stock Name" required>
                <input type="text" name="stock" placeholder="*Stock Name" required>
                <label><input id="blike" type="checkbox" name="like"/>Like Both ?</label>
                <button>Get Prices</button>
            </form>
        </div>
        <div class="insideDiv resultDiv">
        </div>
    </div>

</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="/client.js"></script>

</body>

</html>